*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

section{
    height: 100vh;
    background-image: url("./pics/real.jpg");
    background-size: cover;
    background-position: center center ;
}


header{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.833);
}

.links {
    padding-top: 0px;
    display: flex;
    justify-content: right;
    gap: 40px;
    padding-top: 30px;
    padding-right: 40px;
}

.logo{
    margin-right: auto;
    padding-left: 40px ;
    font-size: 39px !important;
    color: darksalmon !important;
}

.Home{
    color: darksalmon !important;
}


.links a{
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.8s;
    font-size: 20px;
}

.links a:hover{
    color: darksalmon;
}

.info{
    text-align: center;
}

.info p{
    font-size: 25px;
    color: white;
    position: relative;
    top: 150px;
    padding-top: 20px;
}

.iop::after{
    content: '';
    animation:  typing alternate 5s infinite;
}

@keyframes typing {

    0%{
        content: '|';
    }

    2%{
        content: ' D|';
    }

    4%{
        content: ' De|';
    }

    6%{
        content: ' Dev|';
    }

    8%{
        content: ' Deve|';
    }

    10%{
        content: ' Devel|';
    }

    12%{
        content: ' Develo|';
    }

    14%{
        content: ' Develop|';
    }

    16%{
        content: ' Develope|';
    }

    18%{
        content: ' Developer|';
    }

    20%{
        content: ' Develope|';
    }

    22%{
        content: ' Develop|';
    }

    24%{
        content: ' Develo|';
    }

    26%{
        content: ' Devel|';
    }

    28%{
        content: ' Deve|';
    }

    30%{
        content: ' Dev|';
    }

    32%{
        content: ' De|';
    }

    34%{
        content: ' D|';
    }

    100%{
        content: '|';
    }

}

.info h1{
    font-size: 60px;
    color: darksalmon;
    position: relative;
    top: 150px;
    padding-top: 20px;
}

.sec-2{
    display: flex;
}
.sec-2 img{
    margin-top: 100px;
    margin-left: 200px;
    border-radius: 10px;
    width: 350px ;    

}

.sec-2 h2{
justify-content: center;
padding-left: 120px;
padding-top: 120px;
}

.sec-2 h2::first-letter{
    color: #e9967a;
}

.sec-2 p{
    text-align: justify;
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 60px;
    color: rgb(116, 114, 114);
    font-size: 20px;

}


.card{
    position: relative;
}



.card:hover .overlay{
    opacity: 200;

}

.overlay{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.551);
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 200px;
    width: 350px;
    height: 350px;
    transition:all 0.8s ease-in-out;

}

.overlay ul{
    list-style: none;
    display: flex;
    gap: 25px;
    height: 350px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;

}

.bord{
    border: lightslategrey dashed thin;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 60px;
    
}

.inform{
    display: flex;
    flex-wrap: wrap;
}

.inform p{
    color: rgba(21, 20, 20, 0.889);
}

.inform button{
    margin-left: 120px;
    margin-top: 25px;
    padding: 10px 30px;
    background-color: darksalmon;
    color: white;
    font-size: 15px;
    border-color: white;
    border-radius: 4px;
    transition: all 0.8s ease-in-out;

}

.inform button:hover{
    background-color: rgb(218, 38, 38);
}

.sec-3{
    background: rgba(211, 211, 211, 0.782);
    margin-top: 100px;
}

.sec-3 h2{
    text-align: center;
    padding-top: 100px;
    font-size: 36px;
}

.cards{
    display: flex;
    padding-bottom: 45px;
}
.card1 img{
    width: 50px;
    margin-left: 120px;
    padding-top: 20px;
    transition: all 0.8s ease-in-out;
}



    
.card1 h3{
    text-align: center;
    padding-top: 20px;
}

.card1 p{
   text-align: justify;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 40px;
}

.card1{
    width: 25%;
    margin: 70px 20px ;
    transition: all 0.8s ease-in-out;
}

.card1:hover{
    background-color: white;
    border-radius: 8px;
}


.sec-4{
    height: 100vh;
}


.sec-4 h2{
    padding-top: 80px;
    text-align: center;
    font-size: 36px;
}

.cards2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.cards2 img{
    width: 333.3px;
    margin-top: 40px;
    margin-left: 20px;
}


.c1:hover .overlay2{
    opacity: 100;
}

.overlay2{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.551);
    position: absolute;
    top: 40px;
    left: 75px;
    width: 333.3px;
    height: 250.3px;
    transition:all 0.5s ;

}

.c2:hover .overlay3{
    opacity: 100;
}

.overlay3{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.551);
    position: absolute;
    top: 40px;
    left: 540px;
    width: 333.3px;
    height: 250.3px;
    transition:all 0.5s ;

}

.c3:hover .overlay4{
    opacity: 100;
}


.overlay4{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.551);
    position: absolute;
    top: 40px;
    left: 1005px;
    width: 333.3px;
    height: 250.3px;
    transition:all 0.5s ;

}

.c4:hover .overlay5{
    opacity: 100;
}

.overlay5{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.551);
    position: absolute;
    top: 330px;
    left: 75px;
    width: 333.3px;
    height: 250.3px;
    transition:all 0.5s ;

}

.c5:hover .overlay6{
    opacity: 100;
}

.overlay6{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.551);
    position: absolute;
    top: 333px;
    left: 540px;
    width: 333.3px;
    height: 250.3px;
    transition:all 0.5s ;

}

.c6:hover .overlay7{
    opacity: 100;
}

.overlay7{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.551);
    position: absolute;
    top: 333px;
    left: 1005px;
    width: 333.3px;
    height: 250.3px;
    transition:all 0.5s ;

}







.linko{
    display: flex;
    justify-content: center;
    gap: 45px;
}

.linko a{
    text-decoration: none;
    font-size: 25px;
    padding-top: 40px;
    color: rgba(9, 9, 9, 0.91);
}

.ha{
    color: #e9967a !important;
}


.sec-5{
    margin-top: 220px;
    background: lightgray;
    display: flex;
    justify-content: space-between;
    padding:  40px 80px 20px 80px;
}

.sec-5 p{
    text-align: center;
    position: relative;
    right: 50px;
    padding-top: 15px;
    font-size: 20px;
}

.er{
    color: rgba(29, 29, 29, 0.796);
    font-size: 25px !important;
}










